---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary-light: #EFEFEF;
$theme-primary: #3498DB;
$theme-primary-dark: #212D39;

$theme-dark: #2F2F2F;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

// Section Styles
#publications {
  .publications {
    padding: 20px;
  }
  .list-group-item-heading {
    font-size: 22px;
    font-weight: 600;
  }
  .list-group-item-text {
    font-size: 14px;
  }
}

#team {
  background-color: $theme-primary-light;
}

// Some spacing between same elements
.row + .row {
  margin-top: 20px;
}

.header-content-inner .btn {
  margin: 10px;
}

// Button Styles
.btn-info {
  @include button-variant(white, lighten($theme-primary-dark, 7%), lighten($theme-primary-dark, 7%));
}
