<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Make your EMF applications handle very large models for free!</h2>
                <hr class="light">
                <p>NeoEMF is a model persistence solution designed to store models in several kind of NoSQL datastores. It is <strong>fully compatible with EMF</strong>, making it easy to integrate into your modeling applications. </p>
                <p>NeoEMF is based on a <strong>lazy-loading</strong> mechanism that transparently brings into memory model elements only when they are accessed and remove them when they are no longer needed. With this feature, NeoEMF is able to handle models containing millions of elements even in highly-constrained memory environments.</p>
                <h3 class="section-heading">Graphs, Maps, or Columns!</h3>
                <p>NeoEMF provides three backend which are able to store your models:</p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>NeoEMF/Graph</strong>: use the power of graph query language to compute model queries efficiently! Models are represented using vertices, edges, and properties, and can be efficiently queried using the <a href="https://github.com/atlanmod/Mogwai">Mogwaï</a>!</li>
                    <li class="list-group-item"><strong>NeoEMF/Map</strong>: serialize your model into in-memory/on-disk maps to speed-up model access and update using the standard EMF API!</li>
                    <li class="list-group-item"><strong>NeoEMF/Column</strong>: you want to execute model transformations on very large models? Use NeoEMF/Column to store your model into a distributed wide column database and transform it using <a href="https://github.com/atlanmod/ATL_MR">ATL-MR</a>!</li>
                </ul>
                <div class="center-block text-center">
                    <a href="https://www.github.com/atlanmod/NeoEMF/wiki/Get-Started" target="_blank" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</section>
