<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Make your EMF applications handle very large models for free!</h2>
                <hr class="light">
                <p>NeoEMF is a model persistence solution designed to store models in several kind of NoSQL datastores. It is <strong>fully compatible with EMF</strong>, making it easy to integrate into your modeling applications. </p>
                <p>NeoEMF is based on a <strong>lazy-loading</strong> mechanism that transparently brings into memory model elements only when they are accessed and remove them when they are no longer needed. With this feature, NeoEMF is able to handle models containing millions of elements even in highly-constrained memory environments.</p>
                <h3 class="section-heading">Graphs, Maps, or Columns!</h3>
                <p>NeoEMF provides three backend which are able to store your models:</p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>NeoEMF/Graph</strong>: graphs are awesome!</li>
                    <li class="list-group-item"><strong>NeoEMF/Map</strong>: maps are so fast!</li>
                    <li class="list-group-item"><strong>NeoEMF/Column</strong>: much distribution, such wow, much appreciate</li>
                </ul>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
