<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Who Is Behind NeoEMF?</h2>
                <hr class="primary">
                <p>NeoEMF is a project maintained by <a href="http://web.emn.fr/x-info/atlanmod/index.php?title=Main_Page" target="_blank">AtlanMod Team</a> and <a href="http://som-research.uoc.edu/" target="_blank">SOM-Research Lab</a>.</p>
                <div class="col-lg-6 text-center">
                    <a href="http://web.emn.fr/x-info/atlanmod/index.php?title=Main_Page" target="_blank"><img src="img/atlanmod.svg" height="50px"></a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="http://som-research.uoc.edu/" target="_blank"><img src="img/som.svg" height="50px"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to discuss about NeoEMF? Submit an issue? Report your experience using our tools? Please contact us!</p>
            </div>
        </div>
        <div class="col-lg-3 col-lg-offset-1 text-center">
            <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-4 col-lg-offset-0 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-lg-offset-0 text-center">
            <a href="https://www.github.com/{{ site.github_username }}" target="_blank">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
    </div>
</section>
