<section id="credits">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Credits</h2>
                <hr class="primary">
                <p>NeoEMF is a project maintained by <a href="http://web.emn.fr/x-info/atlanmod/index.php?title=Main_Page" target="_blank">AtlanMod Team</a> and <a href="http://som-research.uoc.edu/" target="_blank">SOM-Research Lab</a>.</p>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-center">
                        <a href="http://web.emn.fr/x-info/atlanmod/index.php?title=Main_Page" target="_blank"><img src="img/atlanmod.svg" height="50px"></a>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-center">
                        <a href="http://som-research.uoc.edu/" target="_blank"><img src="img/som.svg" height="50px"></a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <hr class="primary">
                <p>
                    Performance problems and memory leaks are diagnosed with <a href="https://www.ej-technologies.com/products/jprofiler/overview.html" target="_blank">Java Profiler</a>
                </p>
            </div>
        </div>
    </div>
</section>
