<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary"></i>
                    <h3>Lazy-Loading</h3>
                    <p class="text-muted">NeoEMF loads model elements only when they are accessed, limiting memory consumption and improving loading execution time.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".1s" aria-hidden="true"></i>
                    <h3>Multiple Backends</h3>
                    <p class="text-muted">NeoEMF supports many storage solutions. Current version provides implementations for MapDB, Blueprints, Neo4j, and HBase!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s" aria-hidden="true"></i>
                    <h3>EMF-API Compliant</h3>
                    <p class="text-muted">We put a special attention to ensure that calling a NeoEMF method produces the same behavior as standard EMF API calls.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-download wow bounceIn text-primary" data-wow-delay=".2s" aria-hidden="true"></i>
                    <h3>Auto-Commit</h3>
                    <p class="text-muted">Each database implementation provides an autocommit feature that regularly saves changes in order to free the memory.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-history wow bounceIn text-primary" data-wow-delay=".1s" aria-hidden="true"></i>
                    <h3>Caching</h3>
                    <p class="text-muted">NeoEMF embeds a set of caches that can be turned on/off. Want to cache features, size results, isSet results? We have what you need!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-magic wow bounceIn text-primary" aria-hidden="true"></i>
                    <h3>Direct Import</h3>
                    <p class="text-muted">Importing models from XMI can be painful and costly. That's why we have developped an efficient and scalable XMI parser for you!</p>
                </div>
            </div>
        </div>
    </div>
</section>
