<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/neoemf_logo.png" alt="">
            <h1>Big Models Made Possible</h1>
            <hr>
            <p>Efficient multi-database storage, on-demand loading, and powerful querying of your large scale EMF models</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <hr>
            <div class="container">
                <a class="btn btn-primary btn-extlink btn-xl" href="https://github.com/atlanmod/NeoEMF"><img class="btn-img" src="img/GitHub-Mark-Light-64px.png" alt="">Fork us!</a>
                <a class="btn btn-primary btn-extlink btn-xl" href="https://github.com/atlanmod/NeoEMF/archive/master.zip"><img class="btn-img" src="img/GitHub-Mark-Light-64px.png" alt="" height="20px" >Download</a>
                <a class="btn btn-primary btn-extlink btn-xl" href="https://atlanmod.github.io/NeoEMF/releases/snapshot/plugin/"><img class="btn-img" src="img/eclipse.svg" alt="" height="20px" >Update Site</a>
            </div>
        </div>
    </div>
</header>
