<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/neoemf.svg" alt="" width="200px">
            <h1>Big Models Made Possible</h1>
            <hr>
            <p class="lead">Efficient multi-database storage, on-demand loading, and powerful querying of your large scale EMF models</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <hr>
            <div class="container">
                <a class="btn btn-primary btn-extlink btn-xl" href="https://github.com/atlanmod/NeoEMF" target="_blank"><img class="btn-img" src="img/github.svg" alt="" height="24px">Fork Us!</a>
                <a class="btn btn-primary btn-extlink btn-xl" href="https://github.com/atlanmod/NeoEMF/archive/master.zip" target="_blank"><img class="btn-img" src="img/archive.svg" alt="" height="24px" >Download</a>
                <a class="btn btn-primary btn-extlink btn-xl" href="https://atlanmod.github.io/NeoEMF/releases/latest/plugin/" target="_blank"><img class="btn-img" src="img/eclipse.svg" alt="" height="24px" >Update Site</a>
            </div>
        </div>
    </div>
</header>
