<section id="publications" class="bg-dark">
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2>Related Publications</h2>
                <p>NeoEMF is primarly a research project, and we have made several publications to present our approach and address specific problems (both conceptual and technical) we faced during the development. You can find here the list of NeoEMF-related publications and the presented slides when they are available. You can also use the BibTex link if you want to cite any of them.</p>
                <div class="list-group">
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Neo4EMF, a Scalable Persistence Layer for EMF Models</h3>
                        <p class="list-group-item-text">A. Benelallam, A. Gómez Llana, G. Sunyé, M. Tisi, and D. Launay. In ECMFA 2014, York, United Kingdom, 2014</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Improving Memory Efficiency for Processing Large-Scale Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, A. Benelallam, and M. Tisi. In BigMDE 2014, York, United Kingdom, 2014</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Map-Based Transparent Persistence for Very Large Models</h3>
                        <p class="list-group-item-text">A. Gómez Llana, M. Tisi, G. Sunyé, and J. Cabot. In FASE 2015, London, United Kingdom, 2015</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Mogwaï: a Framework to Handle Complex Queries on Large Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, and J. Cabot. In RCIS 2016, Grenoble, France, 2016</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">PrefetchML: a Framework for Prefetching and Caching Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, and J. Cabot. In MoDELS 2016, Saint-Malo, France</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">NeoEMF: a Multi-Database Model Persistence Framework for Very Large Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, A. Benelallam, M. Tisi, Y. Vernageau, A. Gómez Llana, and J. Cabot. In MoDELS 2016 (Tool Demo Track), Saint-Malo, France, 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
