<section id="publications" class="bg-dark">
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2>Related Publications</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item publications">
                        <h3 class="list-group-item-heading">My amazing article</h4>
                        <p class="list-group-item-text">with its amazing authors</p>
                    </a>
                    <a href="#" class="list-group-item publications">
                        <h4 class="list-group-item-heading">A second amazing article (we are fabulous)</h4>
                        <p class="list-group-item-text">Such collaboration, much external, pretty h-index</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
