<section id="publications" class="bg-dark">
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2>Related Publications</h2>
                <p>We have made several research publications to present our approach and address specific problems (both conceptual and technical) we faced during the development. You can find here the list of NeoEMF-related publications and the presented slides when they are available.</p>
                <div class="list-group">
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Neo4EMF, a Scalable Persistence Layer for EMF Models</h3>
                        <p class="list-group-item-text">A. Benelallam, A. Gómez Llana, G. Sunyé, M. Tisi, and D. Launay. In ECMFA 2014, York, United Kingdom, 2014 (<a href="https://hal.inria.fr/file/index/docid/968516/filename/ECMFA2014-Neo4EMF.pdf" target="_blank">article</a>)</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Improving Memory Efficiency for Processing Large-Scale Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, A. Benelallam, and M. Tisi. In BigMDE 2014, York, United Kingdom, 2014 (<a href="http://hal.univ-nantes.fr/file/index/docid/1033188/filename/bigmde14_submission_6_1_.pdf" target="_blank">article</a>)</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Map-Based Transparent Persistence for Very Large Models</h3>
                        <p class="list-group-item-text">A. Gómez Llana, M. Tisi, G. Sunyé, and J. Cabot. In FASE 2015, London, United Kingdom, 2015 (<a href="https://hal.inria.fr/hal-01140776/document" target="_blank">article</a>, <a href="http://www.slideshare.net/abgolla/fase-2015-mapbased-transparent-persistence-for-very-large-models?qid=3022993e-ae10-43ea-a734-81bb2dbe9f0b&v=&b=&from_search=1" target="_blank">slides</a>)</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">Mogwaï: a Framework to Handle Complex Queries on Large Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, and J. Cabot. In RCIS 2016, Grenoble, France, 2016 (<a href="https://hal.archives-ouvertes.fr/hal-01344019/file/document.pdf" target="_blank">article</a>, <a href="http://www.slideshare.net/g__daniel/mogwa-a-framework-to-handle-complex-queries-on-large-models" target="_blank">slides</a>, <a href="http://modeling-languages.com/mogwai-querying-large-models-ocl-nosql-graphdb/" target="_blank">blog post</a>)</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">PrefetchML: a Framework for Prefetching and Caching Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, and J. Cabot. In MoDELS 2016, Saint-Malo, France (<a href="https://hal.archives-ouvertes.fr/hal-01362149/document" target="_blank">article</a>, <a href="http://www.slideshare.net/g__daniel/slide-prefetch" target="_blank">slides</a>, <a href="http://modeling-languages.com/prefetchml-dsl-prefetching-caching-emf-models/" target="_blank">blog post</a>)</p>
                    </div>
                    <div class="list-group-item publications">
                        <h3 class="list-group-item-heading">NeoEMF: a Multi-Database Model Persistence Framework for Very Large Models</h3>
                        <p class="list-group-item-text">G. Daniel, G. Sunyé, A. Benelallam, M. Tisi, Y. Vernageau, A. Gómez Llana, and J. Cabot. In MoDELS 2016 (Tool Demo Track), Saint-Malo, France, 2016 (<a href="http://ceur-ws.org/Vol-1725/demo1.pdf" target="_blank">article</a>, <a href="http://www.slideshare.net/g__daniel/slide-neoemf" target="_blank">slides</a>, <a href="http://modeling-languages.com/neoemf-nosql-database-model-persistence/" target="_blank">blog posts</a>)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
